body
{
background-color:#f6f6f6;
}

#container
{
width:100%;
height:auto;
margin:auto;
background-color:#f6f6f6;
}


.get-started
{
max-width:100%;
width:40%;
height:auto;
margin:auto;
margin-top:-1%;
padding:0% 5% 0% 5%;
background-color:#ffffff;
float:left;

font-size: 22px;

}

.artwork
{
max-width:100%;
width:auto;
height:auto;
margin:auto;
float:left;
}

img
{
padding:1%;
margin-top:100px;
margin-left:-65px;
}

.separator
{
clear:both;
}


footer
{
max-width:100%;
width:82%;
height:auto;
margin:auto;
margin-top:-90px;
position:absolute;
padding:0% 5% 0% 5%;
float:left;
color:#999999;
font-size: 15px;
}


.meta
{
height:50px;
margin:auto;
margin-top:30px;
float:left;
color:#999999;
font-size: 15px;
}